/* This file is part of an ongoing effort to move from
 * js-injected styles to proper CSS. */

.messageDiv {
	word-wrap: break-word;
	overflow-x: hidden;
}

.messageDiv a>img{
	max-width:100%;
}

.chatMessage {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.messageTimeStamp, .messageSource {
	display: table-cell;
	min-width: 100px;
	float: left;
	white-space: nowrap;
	vertical-align: top;
	padding-top: 3px;
}
.messageTimeStamp {
	/* letter-spacing: -1px; */
}
.messageSource {
	text-align: right;
}
.messageText {
	display: table-cell;
	padding-left: 3px;
	padding-top: 3px;
	vertical-align: top;
	float: left;
}

#chatmanagerbuttons{
	position: absolute;
	padding: 0px;
	left: 0px;
	top: 0px;
	height: 150px;
	width: 20px;
}

/*
@font-face {
    font-family: "customBlobby";
    src: url("http://localhost/qtblobby/font/YOUTHAN_.ttf") format("truetype");
}

@font-face
{
	font-family: "customBlobby";
    src: url("http://localhost/qtblobby/font/ak_sans_b.ttf") format("truetype");
	font-weight:bold;
}

@font-face {
    font-family: "customBlobbyChat";
    src: url("http://localhost/qtblobby/font/UQ_0.ttf") format("truetype");
}
*/

.lobbyDiv { 
    font-family: sans-serif;
	font-size: medium;
	/* letter-spacing: 2px;  */
}

.chatSection { 
    font-family: sans-serif;
	font-size: small;
}

.playerListSection{
	font-family: sans-serif;
	font-size: small;
}
.battlesSection{
	font-family: sans-serif;
	font-size: small;
	letter-spacing: -1px;
}
.filtersSection{
	font-family: sans-serif;
	font-size: small;
	letter-spacing: -1px;
}

.chatTitle{
	display:inline-block; width:100px; overflow:hidden; letter-spacing:-1px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(220,220,220,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(175,175,175,0.8);
}


.startGameButtonContents {
	width: 5.5em;
}
.startGameButtonLabel {
	font-size: 1.2em;
}

.confirmationDialog {
	width: 500px;
}
.confirmationDialog pre {
	white-space: pre-wrap;
}

.pollPanel{
	top:2px;
	right:230px;
	width: 300px;
	bottom:0px;
	display: none;
}

.smallPanel{
	position: absolute;
	border-radius:5px;
	padding-left: 3px;
	padding-right: 3px;
	box-shadow:0px 0px 5px 2px #888888 inset;	
}

/*control codes*/
 .bg0 {
    background-color: white;
}
.bg1 {
    background-color: black;
}
.bg2 {
    background-color: navy;
}
.bg3 {
    background-color: green;
}
.bg4 {
    background-color: red;
}
.bg5 {
    background-color: brown;
}
.bg6 {
    background-color: purple;
}
.bg7 {
    background-color: orange;
}
.bg8 {
    background-color: yellow;
}
.bg9 {
    background-color: lime;
}
.bg10 {
    background-color: teal;
}
.bg11 {
    background-color: lightcyan;
}
.bg12 {
    background-color: blue;
}
.bg13 {
    background-color: pink;
}
.bg14 {
    background-color: grey;
}
.bg15 {
    background-color: lightgrey;
}
.fg0 {
    color: white;
}
.fg1 {
    color: black;
}
.fg2 {
    color: navy;
}
.fg3 {
    color: green;
}
.fg4 {
    color: red;
}
.fg5 {
    color: brown;
}
.fg6 {
    color: purple;
}
.fg7 {
    color: orange;
}
.fg8 {
    color: yellow;
}
.fg9 {
    color: lime;
}
.fg10 {
    color: teal;
}
.fg11 {
    color: lightcyan;
}
.fg12 {
    color: blue;
}
.fg13 {
    color: pink;
}
.fg14 {
    color: grey;
}
.fg15 {
    color: lightgrey;
}
