/* This file is part of an ongoing effort to move from
 * js-injected styles to proper CSS. */

.messageDiv {
	word-wrap: break-word;
	overflow-x: hidden;
}
.chatMessage {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.messageTimeStamp, .messageSource {
	display: table-cell;
	min-width: 100px;
	float: left;
	white-space: nowrap;
	vertical-align: top;
	padding-top: 3px;
}
.messageTimeStamp {
	/* letter-spacing: -1px; */
}
.messageSource {
	text-align: right;
}
.messageText {
	display: table-cell;
	padding-left: 3px;
	padding-top: 3px;
	vertical-align: top;
	float: left;
}

#chatmanagerbuttons{
	position: absolute;
	padding: 0px;
	left: 0px;
	top: 0px;
	height: 150px;
	width: 20px;
}

/*
@font-face {
    font-family: "customBlobby";
    src: url("http://localhost/qtblobby/font/YOUTHAN_.ttf") format("truetype");
}

@font-face
{
	font-family: "customBlobby";
    src: url("http://localhost/qtblobby/font/ak_sans_b.ttf") format("truetype");
	font-weight:bold;
}

@font-face {
    font-family: "customBlobbyChat";
    src: url("http://localhost/qtblobby/font/UQ_0.ttf") format("truetype");
}
*/

.lobbyDiv { 
    font-family: sans-serif;
	font-size: medium;
	/* letter-spacing: 2px;  */
}

.chatSection { 
    font-family: sans-serif;
	font-size: small;
}

.playerListSection{
	font-family: sans-serif;
	font-size: small;
}
.battlesSection{
	font-family: sans-serif;
	font-size: small;
	letter-spacing: -1px;
}
.filtersSection{
	font-family: sans-serif;
	font-size: small;
	letter-spacing: -1px;
}

.chatTitle{
	display:inline-block; width:100px; overflow:hidden; letter-spacing:-1px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(220,220,220,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(175,175,175,0.8);
}


.startGameButtonContents {
	width: 5.5em;
}
.startGameButtonLabel {
	font-size: 1.2em;
}

.confirmationDialog {
	width: 500px;
}
.confirmationDialog pre {
	white-space: pre-wrap;
}
