@import sizing
@import chili

.battleMap
	+chiliDoubleBox
	background-color: #10181c
	background-size: 100% 100%
	background-clip: padding-box
	padding: 2px 4px
	.hidden img
		width: 0
		height: 0
	.loadingLabel
		position: relative
		top: 45%
		font-family: monospace
		font-size: 1.5em
		text-align: center
	.minimap
		position: relative
		width: 100%
		height: 100%
		img
			max-width: 100%
			max-height: 100%
			min-width: 50%
			min-height: 50%
			// This is a hack to center the image.
			position: absolute
			margin: auto
			top: 0
			left: 0
			right: 0
			bottom: 0

// SVG images seem to render slow in QWebKit.
.battleMap.mapBg1
	background-image: url('../img/map1.svg')
.battleMap.mapBg2
	background-image: url('../img/map2.svg')
.battleMap.mapBg3
	background-image: url('../img/map3.svg')
.battleMap.mapBg4
	background-image: url('../img/map4.svg')


$rightWidth: 40em
$titleHeight: 2.6em

.battleRoom
	height: 100%
	> *
		+setHeight(100%)
		float: left
	.leftSide
		width: calc(100% - #{$rightWidth})
		.mapTitle
			+setHeight($titleHeight)
			h1
				display: inline
				font-size: 1.2em
			button
				float: right
		.battleMap
			+setHeight(calc(100% - #{$titleHeight}))
	.rightSide
		width: $rightWidth
