@import sizing
@import chili

.battleMap
	+chiliDoubleBox
	background-color: #10181c
	background-size: 100% auto
	background-clip: padding-box
	padding: 2px 4px
	.hidden img
		width: 0
		height: 0
	.loadingLabel
		position: relative
		top: 45%
		font-family: monospace
		font-size: 1.5em
		text-align: center
	.minimap
		position: relative
		width: 100%
		height: 100%
		img
			+centerInBox
			max-width: 100%
			max-height: 100%
			min-width: 50%
			min-height: 50%

.battleMap.mapBg1
	background-image: url('../img/map_bg.jpg')
	background-size: 100% 100%
.battleMap.mapBg2
	background-image: url('../img/map_bg2.jpg')
	background-size: 100% 100%

$panelHeight: 10.5em
$panelRightWidth: 25em

.battlePanel
	+chiliBorder
	+setHeight($panelHeight)
	position: relative
	> *
		+setHeight(100%)
		float: left
		// TODO: This should not be needed at all! But, mysteriously, when we
		// remove it the em values for the button and for panelRight are
		// different, and differently is Chrome and Firefox. This mystery needs
		// to be solved.
		font-size: small
	> button, > button:disabled
		+chili3dBox
		width: calc(100% - #{$panelRightWidth})
		height: 100%
		background-image: none
		transition-property: background-color
		transition-duration: 350ms
		span
			font-size: 1.4em
			font-family: $titleFont
		ul
			text-align: left
		&.play
			background-color: #82EE82
		&.unsynced
			background-color: #EE8282
		&.running
			background-color: #FFFF81
		&.spectate
			background-color: #82EAEE
	.panelRight
		width: $panelRightWidth
		padding: 0.6em
		.gameName
			font-size: 1.1em
			margin-bottom: 0
		.engineName
			margin-top: 0.5em
			font-size: 0.85em
			color: #776
	.closeBattle
		position: absolute
		top: -3px
		right: -3px
		border: 2px solid transparent
		border-left: 1px solid #555
		border-bottom: 1px solid #555
		border-bottom-left-radius: 6px
		color: rgb(189, 52, 52)
		font-size: 1.4em
		&:hover
			color: red

.mapTitleButtons, .listHeaderButtons, .listTeamButtons, .listItemButtons
	button
		+tinyButton
		margin-left: 0.6em

.mapSelect
	.mapList
		overflow: auto
		max-height: 20em
		img
			width: 96px

.botDialog > div
	margin: 0.8em 0


$rightWidth: 40em
$titleHeight: 2.6em

.battleRoom
	height: 100%
	> *
		+setHeight(100%)
		float: left
	.leftSide
		width: calc(100% - #{$rightWidth})
		.mapTitle
			+setHeight($titleHeight)
			h1
				display: inline
				font-size: 1.2em
		.battleMap
			+setHeight(calc(100% - #{$titleHeight}))
	.rightSide
		width: $rightWidth
		// TODO: chat section
		.userList
			+setHeight(calc(100% - #{$panelHeight}))
