@import chili
@import sizing

// Chat history window.

.chatLog
	+chili3dBox
	overflow: auto
	padding: 0.2em
	margin: 0
	hr
		margin: 0.3em 1em
		border-color: #525246

.chatEntry
	font-family: 'DejaVu Sans', sans-serif
	> div
		display: table-cell
		padding: 0.1em 0.4em
	.chatTimestamp
		font-size: 0.8em
		color: #887
	.chatAuthor
		color: #17afb8
		min-width: 5em
		text-align: right
	.chatMessage
		word-wrap: break-word
	.chatSlashMe
		color: #B88917

// Chat topic box.

.chatTopic
	+chili3dBox
	overflow: auto
	div
		margin: 0.5em
		margin-right: 1.5em
	.topicText
		white-space: pre-wrap
	.topicInfo
		font-size: 0.9em
		text-align: right
		color: #776

// Inpux box and send button.

$inputButtonWidth: 4em

.chatInput
	width: 100%
	font-family: sans-serif
	input
		width: calc(100% - #{$inputButtonWidth})
		height: 100% !important
		box-sizing: border-box
	button
		width: $inputButtonWidth
		box-sizing: border-box
		height: 100%
		color: white
		border: 1px solid rgb(6, 93, 6)
		border-top-right-radius: 8px
		border-bottom-right-radius: 8px
		background-color: #201F1F
		outline: none
	button:hover
		background-color: #3C553F
		text-shadow: none

// Channel tabs.

.chatTabs
	border-top-left-radius: 10px
	border-bottom-left-radius: 10px
	border: 1px solid #333
	border-right: none
	list-style: none
	padding: 0.3em
	margin: 0
	li
		cursor: pointer
		color: #999
		margin: 0.3em 0.1em
	li:hover
		color: white
		text-shadow: 0 0 8px #aaa
	li.selected
		color: $selectedColor
		text-shadow: 0 0 8px $selectedBloomColor
	li.attentionLow:not(:hover)
		color: #E3E3E3
	li.attentionHigh:not(:hover)
		color: #F68B44
		text-shadow: 0 0 10px #F68B44

// Join/sub buttons.

.chatButtons img
	margin: 0 0.4em
	position: relative
	top: calc(50% - 8px)
	opacity: 0.6
	height: 16px
	width: 16px
	cursor: pointer

.chatButtons img:hover
	opacity: 1.0

// Layout for ChatManager.

$tabsWidth: 9em
$usersWidth: 20em
$inputHeight: 2.08em
$topicHeight: 6em

.chatManager
	height: 100%
	> *
		+setHeight(100%)
		float: left
	.chatLeft
		width: $tabsWidth
		.chatTabs
			+setHeight(calc(100% - #{$inputHeight}))
		.chatButtons
			height: $inputHeight
	.chatMain
		width: calc(100% - #{$tabsWidth} - #{$usersWidth})
		.chatTopic
			+setHeight($topicHeight)
		.chatLog
			+setHeight(calc(100% - #{$inputHeight} - #{$topicHeight}))
		.chatInput
			+setHeight($inputHeight)
			padding-top: 1px
	.chatMain.noUserList
		width: calc(100% - #{$tabsWidth})
	.chatMain.noTopic .chatLog
		+setHeight(calc(100% - #{$inputHeight}))
	.userList
		width: calc(#{$usersWidth} - 1px)
		margin-left: 1px
