@import chili

ul.userList
	+chiliBorder
	list-style: none
	padding: 0
	.listHeader
		background-image: linear-gradient(to bottom, #444, #222)
		cursor: pointer
		span.listTip
			color: #776
		.listFilter
			display: none
	li
		padding: 0.3em
		border-bottom: 1px solid #444
