$mainFont: "Lato", "Arial", sans-serif
$titleFont: "Days One", "Arial", sans-serif

@import modal_window
@import log_message
@import home
@import user_list
@import chat
@import settings
@import battle

@import chili

body
	color: white
	background-color: #111
	font-family: $mainFont
	font-size: small

html, body, #main
	position: absolute
	height: 100%
	width: 100%
	margin: 0

#main
	padding: 1.0em
	box-sizing: border-box

input[type="text"], input[type="password"], select
	font-family: $mainFont
	color: white
	border: 1px solid #333
	background-color: #201F1F
	outline: none
	height: 1.7em
	&:focus
		border: 1px solid rgb(45, 75, 122)

button
	+chiliButton
	font-family: $mainFont
	background: transparent
	background-clip: padding-box
	color: white
	outline: none

button:hover
	text-shadow: 0 0 8px white

button:active
	background-image: linear-gradient(to bottom, #222, #333)
	border: 2px solid transparent
	border-radius: 6px

.selectBox
	.value
		display: table
		border: 1px solid #333
		background-color: #201F1F
		border-radius: 6px
		padding: 0.3em
		cursor: default
		.triangleArrow
			font-size: 0.7em
			vertical-align: middle
			padding-left: 0.5em
		> *
			display: table-cell
	.dropDown
		+chiliDoubleBox
		position: fixed
		z-index: 1
		overflow: auto
		max-height: 25%
		padding: 8px
		cursor: default
		background-color: rgba(95, 95, 95, 0.84)
		background-clip: padding-box
		div
			padding: 0.15em 0
		div:hover
			background: linear-gradient(to bottom, #464545, #333)

::-moz-focus-inner
	border: 0

/* Let's get this party started */

::-webkit-scrollbar
	width: 9px

::-webkit-scrollbar-track
	border-left: 1px solid #333
	border-right: 1px solid #333
 
::-webkit-scrollbar-thumb
	+chiliThumb
	width: 9px
