@import modal_window
@import user_list
@import chat

@import chili

body
	color: white
	background-color: #111
	font-family: sans-serif
	font-size: small

html, body, #main
	position: absolute
	height: 100%
	width: 100%
	margin: 0

#main
	padding: 1.0em
	box-sizing: border-box

input[type="text"]
	color: white
	border: 1px solid #333
	background-color: #201F1F
	outline: none
input[type="text"]:focus
	border: 1px solid rgb(45, 75, 122)

button
	+chiliButton
	background: transparent
	color: white
	outline: none

button:hover
	text-shadow: 0 0 8px white
	box-shadow: 0 0 8px -3px green

button:active
	border-image: linear-gradient(to bottom, #222, #333) 49% fill / 32px stretch

/* Let's get this party started */

::-webkit-scrollbar
	width: 9px

::-webkit-scrollbar-track
	border-left: 1px solid #333
	border-right: 1px solid #333
 
::-webkit-scrollbar-thumb
	+chiliThumb
	width: 9px
