<div style="width: 100%; height: 100%; " class="messageDiv">
	
	<div style="
		border:1px solid white;
		font-weight:bold;
		position:absolute;
		height:25px;
		width:100%;
	"
	class="topicDiv"
	>
		<div style="font-size:medium; font-family: sans-serif; padding:2px; " >&nbsp;Map&nbsp;</div>
		<a href="#" data-dojo-attach-event="onclick:focusDownloads" style="text-decoration:none; " >
			<div data-dojo-type="dijit.ProgressBar" style="position:absolute; left:50px; top:0px; right:2px; display:none; "
				data-dojo-attach-point="mapDownloadBar" data-dojo-props="maximum:100">
			</div>
		</a>
	</div>
	
	<div style="position:absolute; top:27px; bottom:1px; width:99%; overflow:hidden; ">
		
		<a href="" target="_blank" data-dojo-attach-point="mapLink" class="messageDiv">Map Link</a>
		
		<img src="img/warning.png" height="16",
			data-dojo-attach-point="mapWarning" 
			title="Either you do not have this map or the engine is still downloading."
		/ >
		<br />
		<button data-dojo-attach-event="onClick:selectMap"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="iconClass:'smallIcon browseImage', showLabel:false, "
			style="height:22px; width:22px; "
		>Select Map</button>
		
			
		<button data-dojo-attach-event="onClick:cycleMaps"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="iconClass:'smallIcon mapImage', showLabel:false, "
			style="height:22px; width:22px; "
		>Cycle map views: Normal - HeightMap - MetalMap</button>
		<button data-dojo-attach-event="onClick:showMapOptions"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'smallIcon settingsImage',
				showLabel:false
			"
			style="height:22px; width:22px; "
		>Edit map options</button>
			
		<span data-dojo-attach-point="boxButtonSpan" ></span>
		
		<div style="display: inline-block;" data-dojo-attach-point="startBoxButtonsDiv" >
		<div
			data-dojo-type="lwidgets/ToggleIconButton"
			data-dojo-props="
				style:{height:'22px', width:'40px' },
				checkedIconClass:'wideIcon boxesEditImage',
				uncheckedIconClass:'wideIcon boxesNoEditImage',
				checked:false,
				checkedLabel:'End editing start boxes.',
				uncheckedLabel:'Edit start boxes.',
			"
			data-dojo-attach-event="onClick:boxEditButtonToggle"
		></div>
		
		<div
			data-dojo-type="lwidgets/ToggleIconButton"
			data-dojo-props="
				style:{height:'22px', width:'40px' },
				checkedIconClass:'wideIcon boxesPlusImage',
				uncheckedIconClass:'wideIcon boxesMinusImage',
				checked:true,
				disabled:true,
				checkedLabel:'[Add Start Box] mode. Click to enter [Remove Start Box] mode.',
				uncheckedLabel:'[Remove Start Box] mode. Click to enter [Add Start Box] mode.',
			"
			data-dojo-attach-point="boxEditTypeButton" 
			data-dojo-attach-event="onClick:boxButtonToggle"
		></div>
		</div>
		
		<br /><br />
		
		<div data-dojo-attach-point="mapDiv"
			style="top:55px; bottom:1px; left:1px; right:1px; position:absolute; z-index:0; text-align: center; ">
			
			<div data-dojo-attach-point="paintDiv"
				style="width:100%; height:100%; position:absolute; z-index:-8; top:0px; "
				data-dojo-attach-event="onmousedown:startDrawMap, onmousemove:drawInterimStartBox, "
			></div>
			
			<div data-dojo-attach-point="boxesDiv"
				style="position:absolute; z-index:2; top:0px; "
			></div>
			
			<img src=""
				data-dojo-attach-point="mapImg"
				data-dojo-attach-event="onload:updateMapDiv "
				 
				style="max-width:100%; max-height: 100%; position:relative; z-index:-7; "
			/ >
		</div>
	</div>
	
</div>
