<div style="width: 100%; height: 100%; " >
	
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px; "  dojoattachpoint="hideBattleNode" >
		Not in a battle.
	</div>
	
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px; display:none; " dojoattachpoint="battleDivNode" class="mainContainer" >
	
		<div style="width: 100%; height: 100%; " dojoattachpoint="mainContainerNode" >
			
			
			<div dojoattachpoint="titleDivNode" style="height:40px; overflow:auto; " region="top" class="topicDiv" >
				(-)
			</div>
			
			<div dojoattachpoint="messageDivNode" class="messageDiv" >
				
			</div>
			
			<div style="width: 400px;" dojoattachpoint="playerlistDivNode" class="playerlistDiv" >
				<!--
				<select dojoType="dijit.form.MultiSelect" multiple="true" size="20" style="width:100%; height:100%; " dojoattachpoint="playerlistSelect" class="playerListSelect" ></select>
				-->
				
				
				<div dojoType="lwidgets.BattleMap" dojoattachpoint="battleMapNode"
					style="
						width:50%;
						position:absolute;
					" 
				></div>
				
				<div dojoType="lwidgets.BattlePlayerList2" dojoattachpoint="playerListNode"
					style="
						width:50%;
						position:absolute;
						right:0px;
					" 
				></div>
			</div>
			
			<div dojoattachpoint="inputDivNode" dojoattachevent="onkeyup:keyup" class="inputDiv" >
				<input type="text" style="width:100%" dojoattachpoint="textInputNode" class="textInput" >
			</div>
			
		</div>
		
		
	</div>
	
	<div style="position:absolute; width:30px; right:15px; top:15px; bottom:15px ; " dojoattachpoint="controlsNode" >
		<button
			dojoattachevent="onClick:leaveBattle"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="smallIcon closeImage"
			disabled="disabled"
			showLabel="false"
			dojoattachpoint="closeNode"
		>Leave the battle</button>
		<button dojoattachevent="onClick:togglePlayState"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="tallIcon specImage"
			showLabel="false"
			dojoattachpoint="playStateNode"
		>Toggle between Play or Spectate</button>
		<button dojoattachevent="onClick:startGame"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="smallIcon startImage"
			disabled="disabled"
			showLabel="false"
			dojoattachpoint="startNode"
		>Launch Spring (if battle is in progress)</button>
	</div>
	
</div>
