<div style="width: 100%; height: 100%; " >
	<span
		style="
			background-color: white;
			border:1px solid black;
			z-index:3;
			position:absolute;
			top:0px;
			left:0px;
			">
		&nbsp;Battle Room&nbsp;
	</span>
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px;
		/* display:none; */
		"
		 data-dojo-attach-point="hideBattleNode"
		 >
		Not in a battle.
		<button data-dojo-attach-event="onClick:makeBattle"
			data-dojo-attach-point="makeBattleButton"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'smallIcon battlePlusImage',
				showLabel:false
			"
		>New Battle</button>
	</div>
	
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px;
		display:none;
		 "
		 data-dojo-attach-point="battleDivNode" class="mainContainer"
	>
	
		<!-- <div style="width: 100%; height: 100%; " data-dojo-attach-point="mainContainerNode" > -->
		<div
			style="width: 100%; height:100%;  "
			data-dojo-attach-point="mainContainer"
			class="mainContainer"
			
			data-dojo-type="dijit.layout.BorderContainer"
			
			data-dojo-props="
				design:'sidebar',
				gutters:true,
				liveSplitters:true,
				parseOnLoad:false
			"
		>
			
			<!--
			<div data-dojo-attach-point="titleDivNode" style="height:40px; overflow:auto; position:relative; " >
			-->
			<div
				data-dojo-attach-point="titleNode"
				style="height:40px; overflow:auto; position:relative; "
				class="topicDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				data-dojo-props="
					region:'top',
					splitter:true,
					minSize:50,
					maxSize:100,
					parseOnLoad:false
				"
			>
				
				<a href="#" data-dojo-attach-event="onclick:focusDownloads" style="text-decoration:none; " >
					<div data-dojo-type="dijit.ProgressBar" style="position:absolute; left:50%; width:100px; display:none; "
						data-dojo-attach-point="gameDownloadBar" data-dojo-props="maximum:100">
					</div>
				</a>
				
				<div style="position:absolute; top:0px; right:0px; ";>
					
					<select data-dojo-type="dijit.form.Select"
						data-dojo-attach-point="factionSelect"
						data-dojo-attach-event="onChange:updateFaction"
						
						style=" color:black; /* ,display:none; */ "
					>
						
					</select>
				
					<button data-dojo-attach-event="onClick:showModOptions"
						data-dojo-attach-point="startNode"
						data-dojo-type="dijit.form.Button"
						type="button"
						data-dojo-props="
							iconClass:'smallIcon settingsImage',
							showLabel:false
						"
					>Edit game options</button>
					<button data-dojo-attach-event="onClick:startGame"
						data-dojo-attach-point="startNode"
						data-dojo-type="dijit.form.Button"
						type="button"
						data-dojo-props="
							iconClass:'smallIcon startImage',
							showLabel:false
						"
					>Launch Spring (if battle is in progress)</button>
					
				</div>
				<div data-dojo-attach-point="titleText" >
					Please wait...
				</div>
			</div>
			
			<!--
			<div data-dojo-attach-point="messageDivNode" class="messageDiv" ></div>
			-->
			<div
				data-dojo-attach-point="messageNode"
				class="messageDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				
				data-dojo-props="
					region:'center',
					splitter:true,
					parseOnLoad:false
				"
			>
			</div>
		
			<!--	
			<div style="width: 400px;" data-dojo-attach-point="playerlistDivNode" class="playerlistDiv" >
			-->
			<div
				data-dojo-attach-point="battleInfo"
				style="width: 380px;"
				class="battleInfoDiv"
				data-dojo-type="dijit.layout.ContentPane"
				
				data-dojo-props="
					splitter:true,
					region:'trailing',
					minSize:350,
					maxSize:500,
					parseOnLoad:false
				"
			>
				
				<div style=" position:absolute; top:2px; bottom:2px; left:2px; width:49%; " data-dojo-attach-point="battleMapDiv" >
					<!-- 
						<div data-dojo-type="lwidgets.BattleMap" data-dojo-props="parseOnLoad:false" data-dojo-attach-point="battleMapNode"></div>
					-->
				</div>
				
				<!-- <div style="width:49%; height:100%; position:absolute; right:0px; min-height:200px;" > -->
				<div style="position:absolute; top:2px; bottom:2px; width:49%; right:2px; " data-dojo-attach-point="playerListDiv">
					<!-- <div data-dojo-type="lwidgets.BattlePlayerList2" data-dojo-attach-point="playerListNode"></div> -->
				</div>
			</div>
			<!--
			<div data-dojo-attach-point="inputDivNode" data-dojo-attach-event="onkeyup:keyup,onkeydown:keydown" class="inputDiv" >
			-->
			<div
				data-dojo-attach-point="inputNode"
				class="inputDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				data-dojo-props="
					splitter:false,
					region:'bottom',
					parseOnLoad:false
					
				"
			>
				<input type="text"
					style="width:100%"
					data-dojo-attach-point="textInputNode"
					class="textInput"
					data-dojo-attach-event="onkeyup:keyup,onkeydown:keydown"
				>
			</div>
			
		</div>
		
		
	</div>
	
	<div style="position:absolute; width:30px; right:15px; top:15px; bottom:15px ; " data-dojo-attach-point="controlsNode" >
		<button
			data-dojo-attach-event="onClick:leaveBattle"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'smallIcon closeImage',
				disabled:true,
				showLabel:false
			"
			data-dojo-attach-point="closeNode"
		>Leave the battle</button>
		<button data-dojo-attach-event="onClick:togglePlayState"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'tallIcon specImage',
				showLabel:false
			"
			data-dojo-attach-point="playStateNode"
		>Toggle between Play or Spectate</button>
		<div
			data-dojo-type="dijit.form.DropDownButton"
			data-dojo-props="
				showLabel:false
			"
		>
			<span>Choose team color</span>
			<div data-dojo-type="dijit.ColorPalette"  data-dojo-attach-event="onChange:setColor" data-dojo-attach-point="colorPickNode">
			</div>
		</div>
		
	</div>
	
</div>
