<div style="width: 100%; height: 100%; " >
	
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px; "  dojoattachpoint="hideBattleNode" >
		Not in a battle.
		<button dojoattachevent="onClick:makeBattle"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="smallIcon battlePlusImage"
			showLabel="false"
			dojoattachpoint="makeBattleButton"
		>New Battle</button>
	</div>
	
	<div style="position:absolute; left:15px; right:45px; top:15px; bottom:15px; display:none; " dojoattachpoint="battleDivNode" class="mainContainer" >
	
		<div style="width: 100%; height: 100%; " dojoattachpoint="mainContainerNode" >
			
			
			<div dojoattachpoint="titleDivNode" style="height:40px; overflow:auto; position:relative; " region="top" class="topicDiv" >
				<div style="position:absolute; top:0px; right:0px; ";>
					<button dojoattachevent="onClick:showModOptions"
						dojoType="dijit.form.Button"
						type="button"
						iconClass="smallIcon settingsImage"
						showLabel="false"
						dojoattachpoint="startNode"
					>Edit game options</button>
					<button dojoattachevent="onClick:startGame"
						dojoType="dijit.form.Button"
						type="button"
						iconClass="smallIcon startImage"
						showLabel="false"
						dojoattachpoint="startNode"
					>Launch Spring (if battle is in progress)</button>
				</div>
				<div dojoattachpoint="titleText" >
					Please wait...
				</div>
			</div>
			
			<div dojoattachpoint="messageDivNode" class="messageDiv" >
			</div>
			
			<div style="width: 400px;" dojoattachpoint="playerlistDivNode" class="playerlistDiv" >
				<!--
				<select dojoType="dijit.form.MultiSelect" multiple="true" size="20" style="width:100%; height:100%; " dojoattachpoint="playerlistSelect" class="playerListSelect" ></select>
				-->
				
				
				<div dojoType="lwidgets.BattleMap" dojoattachpoint="battleMapNode"
					style="
						width:49%;
						position:absolute;
					" 
				></div>
				
				<div dojoType="lwidgets.BattlePlayerList2" dojoattachpoint="playerListNode"
					style="
						width:49%;
						position:absolute;
						right:0px;
						
						min-height:200px;
					" 
				></div>
			</div>
			
			<div dojoattachpoint="inputDivNode" dojoattachevent="onkeyup:keyup,onkeydown:keydown" class="inputDiv" >
				<input type="text" style="width:100%" dojoattachpoint="textInputNode" class="textInput" >
			</div>
			
		</div>
		
		
	</div>
	
	<div style="position:absolute; width:30px; right:15px; top:15px; bottom:15px ; " dojoattachpoint="controlsNode" >
		<button
			dojoattachevent="onClick:leaveBattle"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="smallIcon closeImage"
			disabled="disabled"
			showLabel="false"
			dojoattachpoint="closeNode"
		>Leave the battle</button>
		<button dojoattachevent="onClick:togglePlayState"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="tallIcon specImage"
			showLabel="false"
			dojoattachpoint="playStateNode"
		>Toggle between Play or Spectate</button>
		<!--
		<button dojoattachevent="onClick:startGame"
			dojoType="dijit.form.Button"
			type="button"
			iconClass="smallIcon startImage"
			disabled="disabled"
			showLabel="false"
			dojoattachpoint="startNode"
		>Launch Spring (if battle is in progress)</button>
		-->
		<div
			dojoType="dijit.form.DropDownButton"
			
			showLabel="false"
		>
			<span>Choose team color</span>
			<div dojoType="dijit.ColorPalette"  dojoattachevent="onChange:setColor" dojoattachpoint="colorPickNode">
			</div>
		</div>
		
	</div>
	
</div>
