<div style="width: 100%; height: 100%; font-size: small; font-family: sans-serif; position: relative; " >
	<!--
	<span
		style="
			background-color: white;
			border:1px solid black;
			z-index:3;
			position:absolute;
			top:0px;
			left:0px;
			">
		&nbsp;Battle Room&nbsp;
	</span>
	-->
	<div style="position:absolute; left:5px; right:35px; top:5px; bottom:5px;
		/* display:none; */
		"
		 data-dojo-attach-point="hideBattleNode"
		>
		<!-- Not in a battle. -->
		<button data-dojo-attach-event="onClick:makeBattle"
			data-dojo-attach-point="makeBattleButton"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'smallIcon battlePlusImage',
				showLabel:true
			"
		>Create Multiplayer Battle Room</button>
	</div>
	
	<div style="position:absolute; left:5px; right:35px; top:5px; bottom:5px;
		display:none;
		 "
		 data-dojo-attach-point="battleDivNode" class="mainContainer"
	>
	
		<!-- <div style="width: 100%; height: 100%; " data-dojo-attach-point="mainContainerNode" > -->
		<div
			style="width: 100%; height:100%;  "
			data-dojo-attach-point="mainContainer"
			class="mainContainer"
			
			data-dojo-type="dijit.layout.BorderContainer"
			
			data-dojo-props="
				design:'sidebar',
				gutters:true,
				liveSplitters:true,
				parseOnLoad:false
			"
		>
			<div
				data-dojo-attach-point="titleNode"
				style="height:40px; overflow:auto; position:relative; "
				class="topicDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				data-dojo-props="
					region:'top',
					splitter:true,
					minSize:50,
					maxSize:100,
					parseOnLoad:false
				"
			>
				<a href="#" data-dojo-attach-event="onclick:focusDownloads" style="text-decoration:none; " >
					<div data-dojo-type="dijit.ProgressBar" style="position:absolute; left:50%; width:150px; display:none; "
						data-dojo-attach-point="gameDownloadBar" data-dojo-props="maximum:100, label:'Game 0%'">
					</div>
				</a>
				
				<a href="#" data-dojo-attach-event="onclick:focusDownloads" style="text-decoration:none; " >
					<div data-dojo-type="dijit.ProgressBar" style="position:absolute; left:50%; width:150px; display:none; top:30px; "
						data-dojo-attach-point="engineDownloadBar" data-dojo-props="maximum:100, label:'Engine Downloading',indeterminate:true">
					</div>
				</a>
				
				<div style="position:absolute; top:0px; right:0px; ";>
					<!--
					<img src="img/blue_loader.gif" data-dojo-attach-point="progressImg" />
					-->
					<span data-dojo-attach-point="factionImageTest" ></span>
					
					<button data-dojo-attach-event="onClick:reloadUnitsync"
						data-dojo-type="dijit.form.Button"
						type="button"
						data-dojo-props="
							iconClass:'smallIcon reloadImage',
							showLabel:false
						"
					>Reload Maps/Games</button>
					
					<select data-dojo-type="dijit.form.Select"
						data-dojo-attach-point="factionSelect"
						data-dojo-attach-event="onChange:updateFaction"
						
						style="color:black; width:100px; "
					>
						
					</select>
				
					<button data-dojo-attach-event="onClick:showModOptions"
						data-dojo-type="dijit.form.Button"
						type="button"
						data-dojo-props="
							iconClass:'smallIcon settingsImage',
							showLabel:false
						"
					>Edit game options</button>
					<button data-dojo-attach-event="onClick:startGameClick"
						data-dojo-type="dijit.form.Button"
						type="button"
						data-dojo-props="
							iconClass:'smallIcon startImage',
							showLabel:false
						"
					>Launch Spring</button>
					
				</div>
				<div
					data-dojo-attach-point="pollNode"
					style="
						position: absolute;
						top:2px;
						right:220px;
						width: 300px;
						height: 100px;
						background-color: cyan;
						color: black;
						display: none;
					"
				>
					<div data-dojo-attach-point="pollNameNode">Poll question goes here</div>
					<div style="position: relative;">
						<button data-dojo-attach-event="onClick:sayYes" data-dojo-type="dijit.form.Button" >
							<div style="width:25px; ">Yes</div>
						</button>
						<div data-dojo-type="dijit.ProgressBar" 
							data-dojo-attach-point="pollYesBar" data-dojo-props="maximum:100" style="position: absolute; top:0px; left:50px; right:5px; "
						>
						</div>
					</div>
					<div style="position: relative;">
						<button data-dojo-attach-event="onClick:sayNo" data-dojo-type="dijit.form.Button" >
							<div style="width:25px; ">No</div>
						</button>
						<div data-dojo-type="dijit.ProgressBar" 
							data-dojo-attach-point="pollNoBar" data-dojo-props="maximum:100 " style="position: absolute; top:0px; left:50px; right:5px; "
						>
						</div>
					</div>
					
				</div>
				<div data-dojo-attach-point="titleText" >
					Please wait...
				</div>
				
			</div>

			
			<div
				data-dojo-attach-point="messageNode"
				class="messageDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				
				data-dojo-props="
					region:'center',
					splitter:true,
					parseOnLoad:false
				"
				style="position:relative; "
			>
			</div>
		
			<div
				data-dojo-attach-point="battleInfo"
				style="width: 475px; height: 100%; overflow: hidden; "
				class="battleInfoDiv"
				data-dojo-type="dijit.layout.ContentPane"
				
				data-dojo-props="
					splitter:true,
					region:'trailing',
					minSize:350,
					maxSize:900,
					parseOnLoad:false
				"
			>
				
				<div style=" position:absolute; top:2px; bottom:2px; left:2px; width:49%; " data-dojo-attach-point="battleMapDiv" >
				</div>
				
				<div style="position:absolute; top:2px; bottom:2px; width:49%; right:2px; " data-dojo-attach-point="playerListDiv">
				</div>
			</div>
			<div
				data-dojo-attach-point="inputNode"
				class="inputDiv"
				
				style="padding:1px; overflow: hidden; "
				
				data-dojo-type="dijit.layout.ContentPane"
				data-dojo-props="
					splitter:false,
					region:'bottom',
					parseOnLoad:false		
				"
			>
				<input type="text"
					style="width:100%"
					data-dojo-attach-point="textInputNode"
					class="messageDiv"
					data-dojo-attach-event="onkeyup:keyup,onkeydown:keydown"
				>
			</div>
			
		</div>
		
		
	</div>
	
	<div style="position:absolute; width:30px; right:5px; top:5px; bottom:5px ; " data-dojo-attach-point="controlsNode" >
		<button
			data-dojo-attach-event="onClick:leaveBattle"
			data-dojo-type="dijit.form.Button"
			type="button"
			data-dojo-props="
				iconClass:'smallIcon closeImage',
				disabled:true,
				showLabel:false
			"
			data-dojo-attach-point="closeNode"
		>Leave the battle</button>
		
		<span data-dojo-attach-point="togglePlayStateNode" ></span>
		
		<div class="removeDropdownArrow"
			data-dojo-type="dijit.form.DropDownButton"
			data-dojo-props="
				iconClass:'smallIcon colorsImage',
				showLabel:false
			"
		>
			<span>Choose team color</span>
			<div data-dojo-type="dijit.ColorPalette"  data-dojo-attach-event="onChange:setColor" data-dojo-attach-point="colorPickNode">
			</div>
		</div>
		
	</div>
	
</div>
