<div>
	<button
		data-dojo-attach-event="onClick:killFilter"
		type="button"
		data-dojo-attach-point="closeNode"
		
		data-dojo-type="dijit.form.Button"
		data-dojo-props="
			iconClass:'smallIcon closeImage',
			showLabel:false
		"
	>Close</button>
	<div data-dojo-attach-point="fieldName" data-dojo-type="dijit.form.Select" data-dojo-props="" style="width:130px; " data-dojo-attach-event="onChange:updateFilter" >
		<span value="title"><img src="img/battle.png" /> Battle Name</span>
		<span value="game"><img src="img/game.png" /> Game</span>
		<span value="map"><img src="img/map.png" /> Map</span>
		<span value="host"><img src="img/napoleon.png" /> Host</span>
		<span value="country"><img src="img/globe.png" /> Country</span>
	</div>
	
	<select data-dojo-attach-point="comparator" data-dojo-type="dijit.form.Select" style="width:120px; " data-dojo-attach-event="onChange:updateFilter" >
		<option value="*=">contains</option>
		<option value="=">is</option>
		<!-- 
		<option value="!*=">doesn't contain</option>
		<option value="!=">isn't</option>
		-->
	</select>
	
	<input data-dojo-attach-point="filterValue" type="text" style="width:150px;" data-dojo-type="dijit.form.TextBox"
		   data-dojo-attach-event="onKeyUp:updateFilter"
	>
	</input>
</div>
