<div style="width: 100%; height: 100%; " >
	
	<div style="width: 100%; height:100%;  " dojoattachpoint="mainContainerNode" class="mainContainer" >
		
		<div dojoattachpoint="topicDivNode" style="height:80px; overflow:auto; " region="top" class="topicDiv" >
		<!--
		<div dojoattachpoint="topicDivNode" style="height:80px; " region="top" class="topicDiv" dojoType="dijit.layout.ContentPane" splitter="true" region="trailing" >
		-->
			(No Topic)
		</div>
		
		<div dojoattachpoint="messageDivNode" class="messageDiv"></div>
		
		<div style="width: 250px;" dojoattachpoint="playerlistDivNode" class="playerlistDiv">
			<!-- 
			<select dojoType="dijit.form.MultiSelect" multiple="true" size="20" style="width:100%; height:100%; " dojoattachpoint="playerlistSelect" class="playerlistSelect"></select>
			-->
			
			<div dojoType="lwidgets.PlayerList2" dojoattachpoint="playerListNode"></div>
			
		</div>
		
		<div dojoattachpoint="inputDivNode" dojoattachevent="onkeyup:keyup" class="inputDiv" >
			<input type="text" style="width:100%" dojoattachpoint="textInputNode" class="textInput">
		</div>
		
	</div>
	
</div>
