<div style="width: 100%; height: 100%; " >
	<!--
		 dojoType="dijit.layout.B orderContainer"
		 design="sidebar"
		 gutters="true"
		 liveSplitters="true"
		 style="width: 100%; height: 100%; "
		 -->
	<div
		 dojoattachpoint="mainContainer"

		 >
		<div dojoType="dijit.layout.ContentPane" splitter="true" region="leading" style="width: 100px;" dojoattachpoint="tabbarDiv">
			crlist aa
		</div>
		<div dojoType="dijit.layout.ContentPane" splitter="true" region="center" dojoattachpoint="activeDiv" >
			crlist bb
		</div>
	</div>
</div>
