<div style="width: 100%; height: 100%; " >
	<style type="text/css">
		.smallIcon
		{
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
		}
		.tallIcon
		{
			width: 16px;
			height: 32px;
			background-repeat: no-repeat;
		}
		.wideIcon
		{
			width: 32px;
			height: 16px;
			background-repeat: no-repeat;
		}
		
		.removeDropdownArrow .dijitArrowButtonInner{
			display: none !important;
		}
		
		.thinButton{
			padding:0px;
			color: black;
			background-color: white;
		}
		.thinButton:hover{
			color: white;
			background-color: black;
		}
		
		.autoJoinImage { background-image: url('img/heart_small.png'); }
		.battlePlusImage { background-image: url('img/battle-plus.png'); }
		.battleSwordImage { background-image: url('img/battlehalf.png'); }
		.blobbyImage { background-image: url('img/blobby2icon-small.ico'); }
		.botPlusImage { background-image: url('img/robot_plus.png'); }
		.boxesImage { background-image: url('img/boxes.png'); }
		.boxesPlusImage { background-image: url('img/boxes-plus.png'); }
		.boxesMinusImage { background-image: url('img/boxes-minus.png'); }
		.browseImage { background-image: url('img/browse.png'); }
		.channelListImage { background-image: url('img/channellist.png'); }
		.closeImage { background-image: url('img/Remove.png'); }
		.colorsImage { background-image: url('img/colors.png'); }
		.downloadImage { background-image: url('img/webdown-small.png'); }
		.flagImage { background-image: url('img/flag.png'); }
		.flagPlusImage { background-image: url('img/flag_plus.png'); }
		.flagMinusImage { background-image: url('img/flag_minus.png'); }
		.infoImage { background-image: url('img/info.png'); }
		.mapImage { background-image: url('img/map.png'); }
		.noAutoJoinImage { background-image: url('img/heart_small_empty.png'); }
		.playImage { background-image: url('img/play.png'); }
		.plusImage { background-image: url('img/plus-small.png'); }
		.privchatImage { background-image: url('img/blueuser.png'); }
		.privchatMissingImage { background-image: url('img/grayuser.png'); }
		.privchatPlusImage { background-image: url('img/blueuser-plus.png'); }
		.reloadImage { background-image: url('img/reload.png'); }
		.roomchatImage { background-image: url('img/chat.png'); }
		.roomchatPlusImage { background-image: url('img/chat-plus.png'); }
		.searchImage { background-image: url('img/search.png'); }
		.settingsImage { background-image: url('img/wrench.png'); }
		.specImage { background-image: url('img/spec.png'); }
		.startImage { background-image: url('img/battle.png'); }
		.subscribeImage { background-image: url('img/news_subscribe.png'); }
		.unsubscribeImage { background-image: url('img/news_unsubscribe.png'); }
		.zkImage { background-image: url('img/zk_logo_square.png'); }
		
		.connectedImage { background-image: url('img/green.png'); }
		.connectingImage { background-image: url('img/blue.png'); }
		.disconnectedImage { background-image: url('img/red.png'); }
		
		
		.messageDiv {}
	</style>
	<div
		data-dojo-type="dijit.layout.BorderContainer"
		data-dojo-attach-point="mainContainer"
		data-dojo-props="
			design:'sidebar',
			gutters:true,
			liveSplitters:true,
			parseOnLoad:false
		"
		data-dojo-attach-event="onMouseUp:ResizeNeeded" 
		style="width: 100%; height:100%; font-family: sans-serif; "
		class="lobbyDiv"
	>
		<div data-dojo-attach-point="topPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center', parseOnLoad:false, " style="padding:0px; overflow: hidden; " >
			<div
				data-dojo-type="dijit.layout.TabContainer"
				data-dojo-attach-point="tc"
				style="width: 400px; height:100%;  "
			>
				<div
					data-dojo-type="dijit.layout.ContentPane"
					data-dojo-props="title:'Spring Web Lobby', parseOnLoad:false, iconClass:'smallIcon blobbyImage' "
					data-dojo-attach-event="onShow:ResizeNeeded"
				>
			
					<div data-dojo-attach-point="homeDivLeft" style="position: absolute; width: 32%; padding: 5px; " >
						Spring is a free RTS engine developed for Windows, Linux and Mac OS X. Using Spring Web Lobby you can connect to the Spring multiplayer battle server.
						<br /><br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="connectButton"
							data-dojo-attach-event="onClick:connectButtonPush"
							data-dojo-props="iconClass:'smallIcon disconnectedImage'"
						>	
							Connect
						</button>
						
						<br />
						<br />
						
						<button 
							data-dojo-type="dijit/form/Button"
							data-dojo-attach-point="renameButton"
							data-dojo-attach-event="onClick:makeRenameDialog"
							data-dojo-props="disabled:true "
						>
							<div style="width:150px; ">
								Rename...
							</div>
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="changePassButton"
							data-dojo-attach-event="onClick:makeChangePassDialog"
							data-dojo-props="disabled:true, ">
							<div style="width:150px; ">
								Change Password...
							</div>
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-event="onClick:makeLoginDialog">
							<div style="width:150px; ">
								Register...
							</div>
						</button>
					</div>
					<div data-dojo-attach-point="homeDivCenter" style="position: absolute; width: 32%; left:34%; padding: 5px; " >
					</div>
					
					<div data-dojo-attach-point="homeDivRight" style="position: absolute; width: 300px; top:5px; right:5px; bottom:5px; " >
					</div>
					
					
				</div> <!-- end Home tab-->
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Chat', parseOnLoad:false, iconClass:'smallIcon roomchatImage' "
					data-dojo-attach-point="chatManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Battles', parseOnLoad:false, iconClass:'smallIcon startImage' "
					data-dojo-attach-point="battleManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Single Player', parseOnLoad:false, iconClass:'smallIcon battleSwordImage' " style="padding:1px; overflow: hidden; "
					data-dojo-attach-point="singlePane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Downloads', parseOnLoad:false, iconClass:'smallIcon downloadImage' "
					data-dojo-attach-point="downloadManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Settings', parseOnLoad:false, iconClass:'smallIcon settingsImage' "
					data-dojo-attach-point="settingsPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Help', parseOnLoad:false, iconClass:'smallIcon infoImage'  "
					data-dojo-attach-point="helpPane">
					
					<div style="display: table-row; ">
						<div style="display: table-cell; width: 50%; padding: 5px; ">
			
							<h2>Help</h2>
							
							<h3>MacOS</h3>
							
							See <a href="http://helpx.adobe.com/x-productkb/global/install-java-jre-mac-os.html">this page</a> for help on installing Java.
							<br />
							
							<h3>Linux</h3>
							In order to play in battlerooms using the engine version 91.0, please download one of the files below depending on your system and extract it to ~/.spring/weblobby/engine/
							<ul>
								<li><a href="http://springweblobby.googlecode.com/files/spring_91.0_portable_linux_i686.zip">32-bit version</a></li>
								<li><a href="https://dl.dropbox.com/u/971117/spring/spring_91.0.amd64.zip">64-bit version</a></li>
							</ul>
							
							Do not use Chromium, there is a known bug.
						</div> <!-- table-cell -->
						<div style="display: table-cell; width: 50%; padding: 5px; ">
							<h2>
								<img src='img/blobby2.png' align='top' width="64">
								Spring Web Lobby
							</h2>
							<span style="font-style: italic; ">
								version <span data-dojo-attach-point="versionSpan">??</span>
							</span>
							<div style="font-size: x-small; ">
								<span style="font-style: italic; ">
									Live version - <span data-dojo-attach-point="liveVersionSpan">??</span>
								</span>
								<br />
								<a href="http://code.google.com/p/springweblobby/" target="_blank" >
									Project Page
								</a> - version <span data-dojo-attach-point="projectVersionSpan">??</span>
								<br />
								<a href="http://springrts.com/" target="_blank" >The Spring Engine</a>
								<br />
								Created By CarRepairer. Thanks to: abma, BrainDamage, cheesecan, det, ForbodingAngel, hoijui, ikinz, jK, Licho, MidKnight, sheep, the Spring team.
							</div>
						</div> <!-- table-cell -->
					</div> <!-- table-row -->

				</div>
				<!-- -- >
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Missions', parseOnLoad:false, "
					data-dojo-attach-point="missionsPane">
					<iframe name='missionsFrame' data-dojo-attach-point="missionsFrame" src="http://zero-k.info/Missions?weblobby=http%3A%2F%2Flocalhost%2Fweblobby" style='width:100%; height:100%; ' ></iframe>
				</div>
				<!-- -->
				
				
				<!-- -- >
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Zero-K', parseOnLoad:false, iconClass:'smallIcon zkImage'"
					data-dojo-attach-point="zkPane">
					<iframe name='zkFrame' data-dojo-attach-point="zkFrame" src="http://zero-k.info" style='width:100%; height:100%; ' ></iframe>
				</div>
				<!-- -->
				
			</div> <!-- end tabcontainer-->
			
		</div> <!-- end top pane-->
		<div
			data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="
				region:'bottom',
				minSize:80,
				maxSize:600,
				splitter:true,
				parseOnLoad:false, 
			"
			data-dojo-attach-point="bottomPane"
			style="padding:1px; overflow: hidden; height:40%; width:100%; "
		>
			
		</div> <!-- end bottom pane-->
	</div> <!-- end border container -->
	
	
</div>
