<div style="width: 100%; height: 100%; " >
	
	<div
		data-dojo-type="dijit.layout.BorderContainer"
		data-dojo-attach-point="mainContainer"
		data-dojo-props="
			design:'sidebar',
			gutters:true,
			liveSplitters:true,
			parseOnLoad:false
		"
		data-dojo-attach-event="onMouseUp:ResizeNeeded" 
		style="width: 100%; height:100%; font-family: sans-serif; "
	>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center', parseOnLoad:false, " style="padding:0px; overflow: hidden; " >
			<div
				data-dojo-type="dijit.layout.TabContainer"
				data-dojo-attach-point="tc"
				style="width: 400px; height:100%;  "
			>
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Spring Web Lobby', parseOnLoad:false, iconClass:'smallIcon blobbyImage' " >
			
					<div data-dojo-attach-point="homeDivLeft" style="position: absolute; width: 33%; " >
						Thank you for using Spring Web Lobby.
						<br /><br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="connectButton"
							data-dojo-attach-event="onClick:connectButtonPush">	
							Connect
						</button>
						
						<br />
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="renameButton"
							data-dojo-attach-event="onClick:makeRenameDialog"
							data-dojo-props="disabled:true, ">	
							Rename...
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="changePassButton"
							data-dojo-attach-event="onClick:makeChangePassDialog"
							data-dojo-props="disabled:true, ">	
							Change Password...
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-event="onClick:makeLoginDialog">	
							Register...
						</button>
					</div>
					<div data-dojo-attach-point="homeDivCenter" style="position: absolute; width: 33%; left:33%; " >
					</div>
					
					<div data-dojo-attach-point="homeDivRight" style="position: absolute; width: 33%; top:5px; right:5px; bottom:5px; " >
					</div>
					
					
				</div> <!-- end Home tab-->
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Chat', parseOnLoad:false, "
					data-dojo-attach-point="chatManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Battles', parseOnLoad:false, "
					data-dojo-attach-point="battleManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Single Player', parseOnLoad:false, " style="padding:1px; overflow: hidden; "
					data-dojo-attach-point="singlePane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Downloads', parseOnLoad:false, "
					data-dojo-attach-point="downloadManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Settings', parseOnLoad:false, "
					data-dojo-attach-point="settingsPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Help', parseOnLoad:false, "
					data-dojo-attach-point="helpPane">
					
					<h2>
						<img src='img/blobby2.png' align='top' width="64">
						Spring Web Lobby
					</h2>
					<span style="font-style: italic; ">
						version <span data-dojo-attach-point="versionSpan">??</span>
					</span>
					<div style="font-size: x-small; ">
						<a href="http://code.google.com/p/springweblobby/" target="_blank" >
							Project Page
						</a>
						<br />
						<a href="http://springrts.com/" target="_blank" >The Spring Engine</a>
						<br />
						Created By CarRepairer. Thanks to: abma, BrainDamage, cheesecan, det, ForbodingAngel, hoijui, jK, Licho, sheep, MidKnight, the Spring team.
					</div>
				
					<h3>Help</h3>
					Mac users, see <a href="http://helpx.adobe.com/x-productkb/global/install-java-jre-mac-os.html">this page</a> for help on installing Java.
					<br />
					<br />
					Linux 64 users, in order to play in battlerooms using the engine version 91.0, please download this <a href="https://dl.dropbox.com/u/971117/spring/spring_91.0.amd64.zip">file</a> and extract it to ~/.spring/weblobby/engines/91.0

				</div>
				<!--
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Maps', parseOnLoad:false, "
					data-dojo-attach-point="mapsPane">
					<iframe name='mapsFrame' data-dojo-attach-point="mapsFrame" src='http://zero-k.info/Maps' style='width:100%; height:100%; ' ></iframe>
				</div>
				-->
			</div> <!-- end tabcontainer-->
			
		</div> <!-- end top pane-->
		<div
			data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="
				region:'bottom',
				minSize:80,
				maxSize:600,
				splitter:true,
				parseOnLoad:false, 
			"
			data-dojo-attach-point="bottomPane"
			style="padding:1px; overflow: hidden; height:40%; width:100%; "
		>
			
		</div> <!-- end bottom pane-->
	</div> <!-- end border container -->
	
	<div style="width:400px; display: none; " data-dojo-type="dijit/Dialog" data-dojo-attach-point="cmpbrDialog" data-dojo-props="title:'Create A New Battle Room'" >
		<span>Room Name</span>
		<input data-dojo-attach-point="cmpbrName" type="text" style="width:150px;" data-dojo-type="dijit/form/TextBox" />
		
		<br />
		<br />
		
		<span>Game </span>
		<select data-dojo-attach-point="cmpbrGameSelect" data-dojo-type="dijit/form/Select"
			style="width:180px; "
			data-dojo-attach-event="onChange:cmpbrUpdateRapidTag"
		>
			<option value="zk:stable">Zero-K</option>
			<option value="evo:test">EvolutionRTS</option>
			<option value="thecursed:latest">The Cursed</option>
			<option value="s44:latest">Spring:1944</option>
			<option value="kp:stable">Kernel Panic</option>
			<option value="ct:stable">Conflict Terra</option>
			<option value="ba:latest">Balanced Annihilation</option>
			<option value="xta:latest">XTA</option>
			<option value="nota:latest">NOTA</option>
		</select>
		
		<br />
		<br />
		
		<span>Password</span>
		<input data-dojo-attach-point="cmpbrPassword" type="text" style="width:150px;" data-dojo-type="dijit/form/TextBox" />
		
		<br />
		<br />
		
		<div data-dojo-attach-point="cmpbrAdvanced" style="display: none;" >
			<span>Rapid Tag</span>
			<input data-dojo-attach-point="cmpbrRapidTag" type="text" style="width:150px;" data-dojo-type="dijit/form/TextBox"
				data-dojo-props="value:'zk:stable'"
			/>
			
		</div>
		<button data-dojo-attach-event="onClick:cmpbrAdvancedToggle"
			data-dojo-attach-point="cmpbrAdvancedButton"
			data-dojo-type="dijit/form/Button"
		>Show Advanced Options</button>
		
		<button data-dojo-attach-event="onClick:cmpbrCreateGame"
			data-dojo-type="dijit/form/Button"
		>Create Game</button>
		
	</div> <!-- end cmpbrDialog -->

	
</div>
