<div style="width: 100%; height: 100%; " >
	
	<div
		data-dojo-type="dijit.layout.BorderContainer"
		data-dojo-attach-point="mainContainer"
		data-dojo-props="
			design:'sidebar',
			gutters:true,
			liveSplitters:true,
			parseOnLoad:false
		"
		data-dojo-attach-event="onMouseUp:ResizeNeeded" 
		style="width: 100%; height:100%;  "
	>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center', parseOnLoad:false, " style="padding:0px; overflow: hidden; " >
			<div
				data-dojo-type="dijit.layout.TabContainer"
				data-dojo-attach-point="tc"
				style="width: 400px; height:100%;  "
			>
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Spring Web Lobby', parseOnLoad:false, iconClass:'smallIcon blobbyImage' " >
			
					<div data-dojo-attach-point="homeDivLeft" style="position: absolute; width: 33%; " >
						Thank you for using Spring Web Lobby.
						<br /><br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="connectButton"
							data-dojo-attach-event="onClick:connectButtonPush">	
							Connect
						</button>
						
						<br />
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="renameButton"
							data-dojo-attach-event="onClick:makeRenameDialog"
							data-dojo-props="disabled:true, ">	
							Rename...
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-point="changePassButton"
							data-dojo-attach-event="onClick:makeChangePassDialog"
							data-dojo-props="disabled:true, ">	
							Change Password...
						</button>
						
						<br />
						
						<button 
							data-dojo-type="dijit.form.Button"
							data-dojo-attach-event="onClick:makeLoginDialog">	
							Register...
						</button>
					</div>
					<div data-dojo-attach-point="homeDivCenter" style="position: absolute; width: 33%; left:33%; " >
					</div>
					
					<div data-dojo-attach-point="homeDivRight" style="position: absolute; width: 33%; top:5px; right:0px; bottom:5px; " >
					</div>
					
					
				</div> <!-- end Home tab-->
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Chat', parseOnLoad:false, "
					data-dojo-attach-point="chatManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Battles', parseOnLoad:false, "
					data-dojo-attach-point="battleManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Single Player', parseOnLoad:false, " style="padding:1px; overflow: hidden; "
					data-dojo-attach-point="singlePane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Downloads', parseOnLoad:false, "
					data-dojo-attach-point="downloadManagerPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Settings', parseOnLoad:false, "
					data-dojo-attach-point="settingsPane">
				</div>
				
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Help', parseOnLoad:false, "
					data-dojo-attach-point="helpPane">
				</div>
				
			</div> <!-- end tabcontainer-->
			
		</div> <!-- end top pane-->
		<div
			data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="
				region:'bottom',
				minSize:80,
				maxSize:600,
				splitter:true,
				parseOnLoad:false, 
			"
			data-dojo-attach-point="bottomPane"
			style="padding:1px; height:40%; width:100%; "
		>
			
		</div> <!-- end bottom pane-->
	</div> <!-- end border container -->
	
</div>
