<div style="width: 100%; height: 100%; " >
	
		<div
			style="width: 100%; height:100%;  "
			data-dojo-attach-point="mainContainer"
			class="mainContainer"
			
			data-dojo-type="dijit.layout.BorderContainer"
			
			data-dojo-props="
				design:'sidebar',
				gutters:true,
				liveSplitters:true
			"
			
		>
			
			<div
				data-dojo-attach-point="messageNode"
				class="messageDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				
				data-dojo-props="
					region:'center',
					splitter:true
				"
			>	
			</div>
			
			<div
				data-dojo-attach-point="inputDivNode"
				class="inputDiv"
				
				data-dojo-type="dijit.layout.ContentPane"
				data-dojo-props="
					splitter:false,
					region:'bottom'
					
				"
			>
				<input type="text"
					style="width:100%"
					data-dojo-attach-point="textInputNode"
					class="textInput"
					data-dojo-attach-event="onkeyup:keyup,onkeydown:keydown"
				>
			</div>
			<!-- -->
			
		</div>

</div>
